{% extends 'index.html' %}
{% load bootstrap %}

{% block title %} Usuwanie filmów {% endblock %}

{% block page %}
    <div class="card" style="width: 32rem;">
        <div class="card-body">
            <h5 class="card-title">Czy napewno chcesz usunąć ten {{ film.title }}?</h5>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Usuń film</button>
    </form>
        </div>
    </div>


    <a href="{% url 'all_films' %}">Cofnij</a>

{% endblock %}